.my-comment-container {
  display: flex;
  flex-direction: row;
  border: 1px solid #bdbdbd;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  gap: 1rem;
  padding: 10px;

  .image-container {
    max-width: 20%;
    img {
      width: 80%;
      object-fit: contain;
    }
  }

  .product-name {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  .comment-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .rating-star {
    display: flex;
    align-items: center;

    .star {
      font-size: 2rem;
    }
  }
}
