@use '../../../assets/styles/mixin' as mixin;

.container {
  background-color: white;
  padding: 4rem;
  width: 30%;
  height: fit-content;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  border-radius: 0.5rem;

  h2 {
    .first-logo {
      color: #2a2a86;
    }
  
    .second-logo {
      color: #fcaf17;
    }
    margin-bottom: 4rem;
  }

  .welcome-text {
    margin-bottom: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
    margin-bottom: 4rem;

    button {
      padding: 1rem;
      width: fit-content;
      margin: auto;
      background-color: #FF9209;
      color: white;
      font-weight: 600;
      cursor: pointer;
      border-radius: 0.5rem;
    }

    input {
      // background-color: #FFECD6;
      background-color: #FFF7D4;
      padding: 1rem;
      border-radius: 0.5rem;
    }
  }

  p a {
    color: #FF9209;
  }
}

@include mixin.mobile {
  .container {
    width: 100%;
    height: 100%;
  }
}

@include mixin.tablet {
  .container {
    width: 60%;
    height: fit-content;
  }
}