@use '../../assets/styles/mixin' as mixin;

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  border-bottom: 1px solid rgb(207, 207, 207);
  &:hover {
    background-color: var(--hover-background);
  }

  .product {
    width: 50%;
    display: flex;
    flex-direction: row;

    .image-container {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30%;

      img {
        width: 100%;
      }
    }

    .product-name-actions {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .mb-product-info {
        display: none;
      }

      button {
        font-weight: 300;
        font-size: 1.3rem;
      }
    }
  }

  .price {
    width: 12.5%;
    display: flex;
    justify-content: center;
  }

  .size {
    width: 12.5%;
    display: flex;
    justify-content: center;
  }

  .quantity {
    width: 12.5%;
    display: flex;
    justify-content: center;
  }

  .totalPrice {
    width: 12.5%;
    display: flex;
    justify-content: center;
  }
}

@include mixin.mobile {
  .container {
    .product {
      width: 100%;

      .product-name-actions {
        gap: 1rem;

        .product-name {
          font-weight: 500;
          font-size: 1.7rem;
        }

        button {
          font-size: 1.6rem;
        }
        .mb-product-info {
          display: flex;
          flex-direction: row;
          gap: 1.5rem;
        }
      }
    }

    .price,
    .size,
    .quantity,
    .discount,
    .totalPrice {
      display: none;
    }
  }
}
