@use '../../assets/styles/mixin' as mixin;
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 10px 0;

  .first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .actions {
      p {
        span {
          font-weight: 200;
          font-size: 1.3rem;
        }
      }

      button {
        color: var(--light-blue);
      }
    }
  }

  .last-row {
    display: flex;
    flex-direction: row;
    align-items: center;

    .outline-rectangle {
      width: fit-content;
      border: 1px solid var(--dark-yellow);
      cursor: default;
      p {
        padding: 4px 15px;
        color: var(--dark-yellow);
      }
    }
  }

  .last-row-end {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    .outline-rectangle-end {
      margin: 0 16px;
      width: fit-content;
      border: 1px solid var(--blue);
      cursor: pointer;
      p {
        padding: 4px 15px;
        color: var(--blue);
      }
    }
  }
}

@include mixin.mobile {
  .container {
    .first-row {
      .actions {
        button {
          display: none;
        }

        .mb-ic-btn {
          padding: 5px;
          color: var(--light-blue);
          margin: 0 10px;
          cursor: pointer;
        }
      }
    }
  }
}

@include mixin.tablet {
  .mb-ic-btn {
    display: none;
  }
}

@include mixin.desktop {
  .mb-ic-btn {
    display: none;
  }
}
