@import 'normalize.css';
:root {
  //color
  --blue: #213555;
  --white: #fff;
  --black: black;
  --light-blue: #39a7ff;
  //default layout
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
  //button color
  --yellow: #ffc85e;
  //heading
  --dark-yellow: #ffaa06;
  --hover-background: rgb(255, 255, 240);
  --default-bg-color: #efefef;
  --red: rgba(254, 44, 85, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--blue);
  background-color: var(--default-bg-color);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
  font-family: inherit;
}

li {
  list-style-type: none;
}

a[href] {
  color: var(--blue);
  font-family: inherit;
  text-decoration: none;
}

textarea {
  color: var(--blue);
  border-radius: 10px;
  border: 1.2px solid var(--blue);
  &:focus {
    border: 2px solid var(--blue);
  }
}
