@use '../../../assets/styles/mixin' as mixin;
.wallet-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  gap: 2rem;

  .header {
    color: var(--dark-yellow);
    font-weight: 500;
    font-size: 2rem;
  }
}

@include mixin.mobile {
  .wallet-container {
    border-radius: 0px;
    padding: 20px 10px;
  }
}
