@use '../../assets/styles/mixin' as mixin;

h1 {
  text-align: center;
}

.main-content {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  gap: 2rem;
  flex-direction: row;

  .product-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .product-header {
      width: 100%;
      background-color: white;
      height: 5%;
      padding: 5px 15px;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      .first-col {
        display: flex;
        height: 100%;
        align-items: center;
        width: 4%;
      }

      .second-col {
        min-width: 50%;
        width: 60%;
      }

      .third-col {
        text-align: center;
        width: 15%;
      }

      .fourth-col {
        text-align: center;
        width: 15%;
      }

      .fifth-col {
        width: 4%;
        display: flex;
      }
    }

    .product-list {
      width: 100%;
      background-color: white;
      min-height: 50%;
      padding: 15px 15px;
      border-radius: 10px;
    }
  }

  .discount-checkout-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .discount-container {
      height: 30%;
      border-radius: 10px;
      background-color: white;
      display: flex;
      padding: 15px;
      flex-direction: column;

      hr {
        margin: 5px 20px 5px 20px;
      }

      .discount-header {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: #0085ff;

        svg[data-icon='tags'] {
          font-size: 120%;
        }

        span {
          margin-left: 15px;
          font-weight: 500;
        }
      }
    }

    .checkout-container {
      height: 30%;
      border-radius: 10px;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 15px;

      .sub-total {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 20%;
      }

      hr {
        margin: 0 10px;
      }

      .total {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 20%;
      }
    }
  }
}

@include mixin.mobile {
  .main-content {
    flex-direction: column;
    width: 90%;
    height: 100%;
    margin-bottom: 55px;

    .product-container {
      width: 100%;

      .product-header {
        padding: 15px 15px;
        .first-col {
          width: 5%;
        }

        .second-col {
          width: 95%;
        }
        .third-col, .fourth-col, .fifth-col {
          display: none;
        }
      }
    }

    .discount-checkout-container {
      width: 100%;
      gap: 2rem;

      .discount-container {
        height: 200px;
        width: 100%;
      }

      .checkout-container {
        display: none;
      }
    }
  }
  
  .footer-checkout {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    p {
      padding: 0 0 0 3%;
      b {
        font-size: 2rem;
        color: var(--red);
      }
    }

    .checkout {
      width: 30%;
      height: 100%;
      background-color: var(--red);
      color: white;
      font-weight: 700;
      font-size: 1.7rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@include mixin.tablet {
  .main-content {
    flex-direction: column;

    .product-container {
      width: 100%;
    }

    .discount-checkout-container {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      gap: 2rem;

      .discount-container {
        height: 200px;
        width: 48%;
      }

      .checkout-container {
        width: 48%;
        height: 200px;
      }
    }
  }

  .footer-checkout {
    display: none;
  }
}

@include mixin.desktop {
  .footer-checkout {
    display: none;
  }
}

