@use '../../assets/styles/mixin';

.reviews {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

@include mixin.mobile {
  .reviews {
    width: 100%;
  }
}
