@use '../../assets/styles/mixin' as mixin;

.home {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;

  ul {
    width: 60%;
    display: flex;
    flex-direction: row;
    margin: auto;
    text-align: center;
    font-weight: 600;

    li {
      cursor: pointer;
    }

    li img {
      width: 70%;
    }
  }

  .banner-img {
    img {
      width: 100%;
    }
  }

  .section-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: 2rem;
      font-weight: 700;
      color: #ffaa06;
    }
  }

  .product-list {
    margin-top: 2%;
    width: 100%;
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
  }
}

@include mixin.tablet {
  .home {
    width: 90%;
    .product-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@include mixin.mobile {
  .home {
    width: 90%;
    .product-list {
      grid-template-columns: repeat(2, 1fr);
    }

    ul {
      display: none;
    }
  }
}