@use '../../../assets/styles/mixin' as mixin;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  .head-name {
    padding: 20px;
    background-color: white;
    color: var(--dark-yellow);
    font-weight: 500;
    font-size: 2rem;
    border-radius: 10px;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

@include mixin.mobile {
  .container {
    .head-name {
      border-radius: 0;
    }
  }
}
