@use '../../assets/styles/mixin' as mixin;

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.container {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: auto;
  min-height: 80vh;

  .sidebar {
    width: 20%;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    p {
      font-size: 2rem;
      color: var(--dark-yellow);
    }

    .dt-cat-links {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .dt-cat-links .active {
      color: #ffaa06;
    }

    .dt-cat-links li a:hover {
      color: #ffaa06;
    }
  }

  .content {
    width: 80%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .chips {
      padding: 15px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border-radius: 5px;

      p {
        font-size: 2rem;
        color: var(--dark-yellow);
        font-weight: 400;
      }

      background-color: white;
      .chip-container {
        display: flex;
        flex-direction: row;
        gap: 1.2rem;

        .chip-btn {
          font-size: 1.3rem;
          color: var(--blue);
          cursor: pointer;
        }

        .chip-btn-active {
          font-size: 1.3rem;
          background-color: var(--yellow);
          color: white;
          cursor: not-allowed;
        }
      }
    }

    .sort-and-filter {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 1rem;

      .sort-button {
        padding: 15px;
        width: 50%;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 5px;
  
        p {
          font-size: 2rem;
          color: var(--dark-yellow);
          font-weight: 400;
        }
  
        .list-dropdown {
          width: 100%;
          display: flex;
          flex-direction: row;
          gap: 1.5rem;
          align-items: center;

          input {
            border: 1px solid var(--blue);
            width: 50%;
            padding: 8px;
            border-radius: 5px;
          }
        }
      }
    }

    .product-list {
      display: grid;
      row-gap: 1rem;
      column-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);
    }

    .pagination-bar {
      padding: 20px 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@include mixin.mobile {
  .container {
    width: 100%;
    flex-direction: column;
    gap: 1rem;

    .sidebar {
      width: 100%;
      background-color: white;
      border-radius: 0;

      .dt-cat-links {
        display: none;
      }

      .mb-tb-cat-links {
        display: flex;
        width: 100%;
        flex-direction: row;
        overflow-x: scroll;
        align-items: center;
        gap: 1.2rem;

        .chip-btn {
          font-size: 1.5rem;
        }

        .chip-btn-active {
          font-size: 1.5rem;
          background-color: var(--yellow);
          color: white;
        }
      }
    }

    .content {
      padding: 0;
      width: 100%;

      .chips {
        border-radius: 0;
        .chip-container {
          overflow-x: scroll;
          width: 100%;
          background-color: white;

          .chip-btn {
            font-size: 1.5rem;
          }

          .chip-btn-active {
            font-size: 1.5rem;
          }
        }
      }

      .sort-button {
        border-radius: 0;
      }

      .product-list {
        padding: 0 10px;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@include mixin.desktop {
  .mb-tb-cat-links {
    display: none;
  }
}
