@use '../../assets/styles/mixin' as mixin;
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 6px;
  padding: 1.5rem;
  width: 30%;
  z-index: 10;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal p {
  margin-top: 0;
  color: var(--dark-yellow);
  font-weight: 500;
  font-size: 2rem;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

@include mixin.mobile {
  .modal {
    width: 100%;
  }
}
