@use '../../../assets/styles/mixin';

.navbar-cus {
  width: 100%;
  padding: 0 1.5%;
  min-height: var(--default-layout-header-height);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  box-shadow: 0px 1px 2px #dbdbdb;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.logo {
  min-width: 180px;
  margin-right: 20px;

  .first-logo {
    color: #2a2a86;
  }

  .second-logo {
    color: #fcaf17;
  }
}

.mb-search {
  display: none;
}

.navitem-cus {
  flex: 86%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .first-list {
    width: 50%;
    display: flex;
    align-items: start;
    gap: 1.2rem;
    font-weight: 600;

    a:hover {
      color: #fcaf17;
      border-bottom: 2px;
    }
  }

  .end-items {
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;

    .second-list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.2rem;
      width: fit-content;

      .header-btn {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: center;
        height: 100%;
      }

      .header-btn-mb {
        display: none;
      }
    }

    .search-bar {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      background-color: #eeeeee;
      height: 40px;
      width: 60%;
      padding: 0 2%;
      border-radius: 30px;
      justify-content: space-between;
      input {
        background-color: inherit;
        color: var(--blue);
        width: 100%;
      }
    }
  }
}

@include mixin.mobile {
  .navbar-cus {
    width: 100%;
    .logo {
      width: fit-content;
    }
    .navitem-cus {
      width: fit-content;
      display: flex;
      flex-direction: row;
      .first-list {
        display: none;
      }
      .end-items {
        gap: 1rem;
        width: 100%;
        justify-content: flex-end;
        .search-bar {
          display: none;
        }
        .second-list {
          gap: 2rem;
          .header-btn {
            p {
              display: none;
            }

            .icon {
              font-size: 2rem;
            }
          }

          .header-btn-mb {
            display: flex;
            .icon {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
  .mb-search {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    input {
      width: 80%;
      background-color: white;
    }

    p {
      width: 20%;
    }
  }
}
