.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;

  .header {
    color: var(--dark-yellow);
    font-weight: 500;
    font-size: 1.7rem;
  }

  .order-info {
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .status {
      width: fit-content;
      padding: 2.5px 5px;
      border-radius: 10px;
      background-color: #95FFAD;
      color: #00AB11;
    }

    .details {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 0.5rem;

      .info {
        display: flex;
        flex-direction: row;
        
        label {
          width: 15%;
        }

        p {
          width: 85%;
        }
      }
    }
  }

  .order-2 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;

    .recipient-info {
      width: 33%;
      background-color: white;
      border-radius: 10px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .recipient {
        span {
          color: grey;
        }
      }
    }

    .delivery-method {
      width: 33%;
      background-color: white;
      border-radius: 10px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .payment-method {
      width: 33%;
      background-color: white;
      border-radius: 10px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  .product-details {
    width: 100%;
    background-color: white;
    padding-bottom: 10px;
    border-radius: 10px;

    .table-header {
      padding: 20px 10px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      border-bottom: 1px solid rgb(207, 207, 207);

      p {
        font-weight: 600;
      }

      .first {
        width: 50%;
      }

      .second {
        width: 10%;
      }

      .third {
        width: 10%;
      }

      .fourth {
        width: 10%;
      }

      .fifth {
        width: 10%;
      }

      .sixth {
        width: 10%;
      }
    }

    .checkout-info {
      padding: 20px 20px 20px 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .info {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        p, span {
          width: 20%;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
        }

        span {
          color: rgb(254, 44, 85);
          font-weight: 600;
          font-size: 2rem;
        }
      }
    }


  }

  .rating {
    margin: auto;
    font-size: 3rem;
  }

  .product-modal {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .image-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30%;
      border: 1px solid rgb(211, 211, 211);
      border-radius: 10px;

      img {
        width: 100%;
      }
    }

    .product-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: var(--blue);

      .product-name {
        font-weight: 600;
        font-size: large;
      }
    }
  }

  .input {
    width: 100%;

    textarea {
      width: 100%;
      padding: 15px;
    }
  }

  .action {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}