@use '../../../../assets/styles/mixin' as mixin;

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;

  .header {
    color: var(--dark-yellow);
    font-weight: 500;
    font-size: 1.7rem;
  }

  .order-info {
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .status {
      width: fit-content;
      padding: 2.5px 5px;
      border-radius: 10px;
    }

    .completed {
      background-color: #95ffad;
      color: #00ab11;
    }

    .pending {
      background-color: #ffdfc3;
      color: #ff861c;
    }

    .packaging {
      background-color: #acfeff;
      color: #3baaff;
    }

    .delivering {
      background-color: #7db3ff;
      color: #1779fb;
    }

    .canceled {
      background-color: #ff7f7f;
      color: #ff0000;
    }

    .details {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 0.5rem;

      .info {
        display: flex;
        flex-direction: row;

        label {
          width: 15%;
        }
        p {
          width: 85%;
        }
      }
    }
  }

  .order-2 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;

    .recipient-info {
      width: 33%;
      background-color: white;
      border-radius: 10px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .recipient {
        span {
          color: grey;
        }
      }
    }

    .delivery-method {
      width: 33%;
      background-color: white;
      border-radius: 10px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .payment-method {
      width: 33%;
      background-color: white;
      border-radius: 10px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  .product-details {
    width: 100%;
    background-color: white;
    padding-bottom: 10px;
    border-radius: 10px;

    .table-header {
      padding: 20px 10px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      border-bottom: 1px solid rgb(207, 207, 207);

      p {
        font-weight: 600;
      }

      .first {
        width: 50%;
        min-width: 50%;
        padding-left: 2rem;
      }

      .second {
        width: 12.5%;
        display: flex;
        justify-content: center;
      }

      .third {
        width: 12.5%;
        display: flex;
        justify-content: center;
      }

      .fourth {
        width: 12.5%;
        display: flex;
        justify-content: center;
      }

      .sixth {
        width: 12.5%;
        display: flex;
        justify-content: center;
      }
    }

    .checkout-info {
      padding: 20px 20px 20px 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .info {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        p,
        span {
          width: 20%;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
        }

        span {
          color: rgb(254, 44, 85);
          font-weight: 600;
          font-size: 2rem;
        }
      }
    }

    .action {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: end;
      padding: 0 20px;
    }
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.modal-content {
  .rating {
    margin: auto;
    font-size: 3rem;
  }

  .product-modal {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .image-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30%;
      border: 1px solid rgb(211, 211, 211);
      border-radius: 10px;

      img {
        width: 100%;
      }
    }

    .product-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: var(--blue);

      .product-name {
        font-weight: 600;
        font-size: large;
      }
    }
  }

  .input {
    width: 100%;

    textarea {
      width: 100%;
      padding: 15px;
    }
  }

  .image {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #ececec;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    color: var(--blue);

    input {
      
    }
  }

  .action {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@include mixin.mobile {
  .container {
    .order-info {
      border-radius: 0px;
      gap: 1rem;

      .details {
        gap: 1rem;
        .info {
          label {
            width: 35%;
          }

          b {
            width: 65%;
          }
        }
      }
    }

    .order-2 {
      flex-direction: column;
      .recipient-info {
        border-radius: 0px;
        width: 100%;
      }

      .delivery-method {
        border-radius: 0px;
        width: 100%;
      }

      .payment-method {
        border-radius: 0px;
        width: 100%;
      }
    }

    .product-details {
      border-radius: 0px;

      .table-header {
        padding: 10px;
        p {
          color: var(--dark-yellow);
          font-weight: 500;
          font-size: 1.7rem;
        }
        .first {
          width: 100%;
        }
        .second,
        .third,
        .fourth,
        .fifth,
        .sixth {
          display: none;
        }
      }

      .checkout-info {
        .info {
          p,
          span {
            width: 35%;
          }
        }
      }
    }
  }
}
