@use '../../assets/styles/mixin' as mixin;

.main-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  gap: 0.5rem;

  .first-col {
    width: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .second-col {
    min-width: 50%;
    width: 60%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    .image-container {
      width: 30%;
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
      }
    }

    .product-details {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p {
        font-size: 1.5rem;
      }
    }
  }

  .third-col {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    .quantity-btn {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 2rem;
      padding: 10px;
      border: 1px solid gray;
      border-radius: 10px;
    }
  }

  .fourth-col {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fifth-col {
    width: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@include mixin.mobile {
  .main-content {
    .second-col {
      width: 90%;
      .product {
        width: 130%;
      }
      .product-details {
        gap: 1rem;
        p {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2; /* number of lines to show */
                  line-clamp: 2; 
          -webkit-box-orient: vertical;
        }

        .quantity-btn-mb {
          width: fit-content;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1rem;
          padding: 5px 10px;
          border: 1px solid grey;
          border-radius: 10px;
        }
      }
    }

    .third-col {
      display: none;
    }

    .fourth-col {
      display: none;
    }
  }
}

@include mixin.tablet {
  .quantity-btn-mb {
    display: none;
  }
}

@include mixin.desktop {
  .quantity-btn-mb {
    display: none;
  }
}
