@use '../../assets/styles/mixin' as mixin;

.tabs-full {
  width: 100%;
  border-bottom: 1px solid grey;
  justify-content: space-between;
  border-radius: 5px 5px 0 0;
  padding: 10px 0;
}

.tabs {
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  gap: 2rem;

  button {
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align: left;
    cursor: pointer;
    border-radius: 4px 4px 0 0;
    background-color: transparent;
    color: var(--blue);
    border: none;
    box-shadow: none;
    display: flex;
    align-items: center;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  button:hover,
  button.selected {
    color: var(--dark-yellow);
  }

  .active-tab-indicator {
    border: 1.5px solid var(--dark-yellow);
    // border-radius: 8px;
  }
}

@include mixin.mobile {
  .tabs {
    overflow-x: scroll;
    white-space: nowrap;
    padding: 10px;
    border-radius: 0;

    .tab {
      display: inline-block;
    }
  }
}
