.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  gap: 1rem;
  flex-basis: calc(25% - 2%);
  margin-bottom: 2%;
  cursor: pointer;

  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    img {
      width: 90%;
    }

    button {
      width: 100%;
      position: absolute;
      bottom: 0;
      visibility: hidden;
    }
  }

  .product-details {
    width: 100%;
    display: flex;
    flex-direction: column;

    .product-name {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
              line-clamp: 2; 
      -webkit-box-orient: vertical;
    }

    .first {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 2%;
    }
  }
}

.container:hover {
  button {
    visibility: visible;
    animation: ease-in 0.2;
  }
}
