.container {
  z-index: 2147483647;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .menu {
    float: right;
    min-width: 17.1815rem;
    width: 85%;
    height: 100%;
    overflow-y: auto;
    background-color: white;
    @keyframes slideIn {
      from {
        transform: translateX(100%);
      }
      to {
        transform: translateX(0);
      }
    }

    @keyframes slideOut {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(100%);
      }
    }

    &.closing {
      animation: slideOut 0.5s ease-in-out;
    }

    animation: slideIn 0.5s ease-in-out;

    .brand-container {
      background-color: var(--default-bg-color);
      min-height: 70px;
      height: 70px;
      border-bottom: 1px solid rgb(200, 200, 200);
      h2 {
        height: 100%;
        margin-left: 5%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.4rem;
        .first-logo {
          color: #2a2a86;
        }

        .second-logo {
          color: #fcaf17;
        }
      }
    }

    .links-footer {
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .links {
        display: flex;
        flex-direction: column;
  
        .link-item {
          display: flex;
          height: 50px;
          padding-left: 10px;
          padding-right: 5px;
          align-items: center;
          justify-content: space-between;
          border: 1px solid var(--default-bg-color);
  
          &:hover {
            background-color: var(--hover-background);
          }
        }
      }

      .footer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 10px;
        
        a {
          color: grey;
          font-weight: 300;
        }

        .social {
          display: flex;
          flex-direction: row;
          padding: 0px;
          gap: 0.5rem;

          img {
            width: 35px;
            height: auto;
          }
        }

        p {
          font-size: 1.3rem;
          color: grey;
          font-weight: 300;
        }
      }
    }
  }

  .close-btn {
    width: 15%;
    height: 6%;
    font-size: 3rem;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
  }
}
