.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  gap: 2rem;
  width: 100%;

  .header {
    color: var(--dark-yellow);
    font-weight: 500;
    font-size: 2rem;
  }
}