@use '../../../assets/styles/mixin' as mixin;
.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  gap: 2rem;
  width: 100%;

  .header {
    color: var(--dark-yellow);
    font-weight: 500;
    font-size: 2rem;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
